@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

.infobar{
  position:relative;
  height: 150px;
  width: 100%;
  background-color: grey;
  text-align: center;
  text-decoration-color: white;
}

.column {
  position: relative;
  float: left;
  width: 33.33%;
}

.row:after { 
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
