<!DOCTYPE html>
<html>
    <head>
        <title>Cashier's display</title>
        <meta http-equiv="refresh" content="120">
        <link rel="stylesheet" href="{{ url_for('static', filename='Display_for_cashier.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <div class="container">
        <form action="" class="searchbar">
            <input type="text" placeholder="search" name="q"
            <button  type="submit"><img src="{{ url_for('static', filename='search.png') }}"> </button>

        </form>
    </div>      




</body>

    </head>
</html>