<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard Arduino</title>
    <link
      rel="stylesheet"
      href="../static/stylesheet.css">
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  </head>

  <header>
    <div class="infobar">Arduino</div>
  </header>

  <body>
    <div class="row">
      <div class="column">
        {% for sensorid, readings_list in stats.items() %}
        <div class="latest">Humidity {{sensorid}}: {{ readings_list[-1]["humidity"] }}</div>
        <div class="readinglist">{% for reading in readings_list[::-1] %}</div>
        <li class="entry">{{reading}}</li>
          {% endfor %}
          {% endfor %}
        </div>
      </div>

      <div class="column">
        {% for sensorid, readings_list in stats.items() %}
        <div class="latest">Brightness {{sensorid}} : {{ readings_list[-1]["brightness"] }}</div>
        <div class="readinglist">{% for reading in readings_list[::-1] %}
          <li class="entry">{{reading}}</li>
          {% endfor %}
          {% endfor %}
        </div>
      </div>

      <div class="column">
        {% for sensorid, readings_list in stats.items() %}
        <div class="latest">Temperature {{sensorid}}: {{ readings_list[-1]["temp"] }}</div>
        
        <div class="readinglist">{% for reading in readings_list[::-1] %}
          <li class="entry">{{reading}}</li>
        {% endfor %}
        {% endfor %}
        </div>
      </div>
    </div> 

  </body>
</html>
